{
    email davidmelo@desmdesigns.com
}

cms.canerogroup.com {
    reverse_proxy cms:1337
}

api.canerogroup.com {
    reverse_proxy api:3030
}

api.canerogroup.com:2021 {
    reverse_proxy mongo:27017
}

api.canerogroup.com:2022 {
    reverse_proxy postgres:5432
}

api.canerogroup.com:2023 {
    reverse_proxy redis:6379
}